@model CodeDriversMVC.Models.ReservationResultModel

@{
    ViewData["Title"] = "Success";
}

<h1 style="text-align:center;">Potwierdzenie rezerwacji</h1>

<div class="reservation-details">
    <h4>Poniżej znajdziesz szczegóły swojej rezerwacji</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Samochód:</dt>
        <dd class="col-sm-9">@Model.Brand @Model.Model</dd>

        <dt class="col-sm-3">Data odbioru:</dt>
        <dd class="col-sm-9">@Model.ReservationFrom.ToShortDateString()</dd>

        <dt class="col-sm-3">Data zwrotu:</dt>
        <dd class="col-sm-9">@Model.ReservationTo.ToShortDateString()</dd>

        <dt class="col-sm-3">Łączny czas wypożyczenia samochodu:</dt>
        <dd class="col-sm-9">@Model.ReservationDuration.Days dni</dd>

        <dt class="col-sm-3">Cena:</dt>
        <dd class="col-sm-9">@Model.TotalReservationPrice</dd>

        <dt class="col-sm-3">Miejsce odbioru:</dt>
        <dd class="col-sm-9">Lotnisko Chopina, Warszawa</dd>
    </dl>
</div>
<div class="back-container">
    <a style="color:white;" asp-controller="Home" asp-action="Index">Strona główna</a>
</div>
<style>
    .reservation-details {
        margin: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

        .reservation-details h4 {
            margin-top: 0;
        }

        .reservation-details hr {
            margin: 20px 0;
            border: none;
            border-top: 1px solid #ccc;
        }

        .reservation-details dl.row {
            display: flex;
            flex-wrap: wrap;
            margin: 0;
        }

        .reservation-details dt.col-sm-3 {
            flex: 0 0 30%;
            font-weight: bold;
        }

        .reservation-details dd.col-sm-9 {
            flex: 0 0 70%;
            margin: 0;
        }

        .reservation-details dt.col-sm-3:nth-of-type(2),
        .reservation-details dt.col-sm-3:nth-of-type(3) {
            color: #007bff;
        }

        .reservation-details dt.col-sm-3:nth-of-type(5),
        .reservation-details dd.col-sm-9:nth-of-type(5) {
            color: #28a745
            font-weight: bold;
        }

</style>
